<main class="cd-main-content" id="events">
	<div class="cd-fixed-bg cd-bg-1">
		<div class="scrolling-background">
			<h2>Events</h2>
			<hr class="light">
			<p>We'll be in Portland early on in the week. Below you'll also find a map of all of the key locations and events.</p>
			<a class="btn btn-default btn-xl" role="button" data-toggle="modal" data-target="#eventsModal">Planned Events</a>
		</div>
	</div>
</main>
<div class="cd-scrolling-bg-bottom cd-color-2">
	<iframe width='100%' height='700px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/zacherytapp.kn5ln3kn/attribution,zoompan,geocoder,share.html?access_token=pk.eyJ1IjoiemFjaGVyeXRhcHAiLCJhIjoiQ1MtYTNmSSJ9.Sdmjq98rhXFz2do6rjOZfw'></iframe>
</div>

<!-- Modal -->
<div class="modal fade" id="eventsModal" tabindex="-1" role="dialog" aria-labelledby="eventsModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="eventsModalLabel">Events</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>