{% load static %}
<section class="bg-primary" id="story">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{story.title}}</h2>
                <hr class="light">
                <p class="text-faded">{{story.story_body|safe}}</p>
            </div>
        </div>
    </div>
    <div id="cd-timeline" class="cd-container">
		{% for entry in timeline %}
			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-picture">
					<img src="{% static 'img/heart.png' %}" alt="Picture">
				</div>

				<div class="cd-timeline-content">
					<h2>{{entry.title}}</h2>
					<p>{{entry.timeline_description|safe}}</p>
					{% if entry.show_button %}
						<a href="{{entry.button_link}}" class="cd-read-more">{{entry.link_title}}</a>
					{% endif %}
					<span class="cd-date">{{entry.timeline_date}}</span>
				</div>
			</div>
		{% endfor %}
	</div>
</section>